* {
	font-family: 'Maven Pro', sans-serif;
}

nav a, button {
	min-height: 48px;
	max-height: 48px;
}

.owl {
	width: 1140px;
	max-width: 100%;
}

.padding10px {
	padding: 10px;

}

.text-muted {
  color: #BCBBBB;
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 4000px) and (min-width: 993px)  {
  .aligne-it {
    text-align: right;

  }
}

@media screen and (max-width: 992px) {
  .hide-it {
      visibility: hidden;
  }
  .aligne-it {
    text-align: center;
  
  }
  .padding-leftside {
    padding-left:0px;
  }
  .text-size {
    font-size:32px;
    color: #3F3F33
  }
}